language: node_js
node_js:
  - 13

services:
  - docker

before_install:
  - pyenv global 3.7.1
  - pip install -U pip
  - pip install awscli
# Pre-testing installs
install:
  - echo "nothing needs to be installed"
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl
  - mkdir ${HOME}/.kube
  - mkdir ${HOME}/.aws
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
  - aws configure set default.region eu-north-1
  - aws eks --region eu-north-1 update-kubeconfig --name udagram3-cluster

# Scripts to be run such as tests
before_script:
  - echo "no tests"

script:
  - docker --version # print the version for logging
  - cd k8s
  - kubectl apply -f monolit
  - kubectl apply -f frontend
  - kubectl apply -f reverse-proxy
  - kubectl autoscale deployment monolit --cpu-percent=60 --min=1 --max=3
  - kubectl get nodes
  - kubectl get pods -n udagram
#  - docker build -t simple-node .
#  - docker tag simple-node YOUR_DOCKER_HUB/simple-node:latest

# Tasks to perform after the process is successful. Formatting the Docker username and password as below enables you to programmatically log in without having the password exposed in logs.
after_success:
#  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#  - docker push YOUR_DOCKER_HUB/simple-node